*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: inconsolata;
  src: url(./fonts/inconsolata/static/Inconsolata-Regular.ttf);
}
@font-face {
  font-family: inter;
  src: url(./fonts/inter/static/Inter-Regular.ttf);
}
@font-face {
  font-family: lora;
  src: url(./fonts/lora/static/Lora-Regular.ttf);
}
@font-face {
  font-family: inconsolata;
  font-weight: bold;
  src: url(./fonts/inconsolata/static/Inconsolata-Bold.ttf);
}
@font-face {
  font-family: inter;
  font-weight: bold;
  src: url(./fonts/inter/static/Inter-Bold.ttf);
}
@font-face {
  font-family: lora;
  font-weight: bold;
  src: url(./fonts/lora/static/Lora-Bold.ttf);
}
@font-face {
  font-family: lora;
  font-weight: bold;
  font-style: italic;
  src: url(./fonts/lora/static/Lora-BoldItalic.ttf);
}

/* Main Format */

body {
  padding: 1.5em 1.5em 5.3125em 1.5em;
  margin: 0;
  font-family: inter;
}

/* Component Format */

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-bottom: 1.5em;
  position: relative;
}

/* Sub Component Format */

.settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.logo {
  height: auto;
  width: 1.75em;
}
.settings__arrow {
  height: auto;
  width: 0.75em;
}
.settings__moon {
  height: auto;
  width: 1.25em;
}

.settings__line {
  border-left: 0.5px solid #e9e9e9;
  height: 100%;
  transform: translateX(50%);
}

.settings input {
  display: none;
}

input[type="checkbox"] {
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  cursor: pointer;
  text-indent: -9999px;
  width: 2.5em;
  height: 1.25em;
  background: #757575;
  display: block;
  border-radius: 100px;
  position: relative;
}

label:after {
  content: "";
  position: absolute;
  top: calc((1.25em - 0.875em) / 2);
  left: calc((1.25em - 0.875em) / 2);
  width: 0.875em;
  height: 0.875em;
  background: #fff;
  border-radius: 90px;
  transition: 0.3s;
}

label:hover {
  cursor: pointer;
  background: #a445ed;
}
input:checked + label {
  background: #a445ed;
}

input:checked + label:after {
  left: calc(100% - (1.25em - 0.875em) / 2);
  transform: translateX(-100%);
}

label:active:after {
  width: 130px;
}

form {
  width: 100%;
  background-color: #f4f4f4;
  height: 3em;
  border-radius: 17px;
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5em;
}

form:hover,
form:focus-within {
  border: 1px solid #a445ed;
  cursor: pointer;
}

.search-bar input {
  all: unset;
  font-weight: 700;
  height: 100%;
  width: 100%;
  padding-left: 1.5em;
  color: #2d2d2d;
}

.search-bar--empty {
  border: 1px solid #ff5252;
}
.search-bar--empty:hover,
.search-bar--empty:focus-within {
  border: 1px solid #ff5252;
  cursor: pointer;
}
.empty-text {
  color: #ff5252;
  font-size: 1.25em;
}
::placeholder {
  color: #757575;
  opacity: 0.65;
}

button {
  all: unset;
  cursor: pointer;
  width: 1em;
  height: 1em;
  margin-right: 1.53125em;
}

button svg {
  width: 1em;
  height: auto;
}

.main-word {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-word__play :hover {
  cursor: pointer;
}

.main-word__play:hover g {
  fill: rgb(255, 255, 255);
}

.main-word__play--disabled g {
  fill: grey;
}

.main-word__play:hover circle {
  fill: rgb(164, 69, 237);
  opacity: 1;
}

.settings__moon--dark path {
  stroke: rgb(164, 69, 237);
}

.main-word__play, .main-word__play--disabled {
  height: 3em;
  width: 3em;
}

.word-class {
  display: inline;
}

.word-class h2:after {
  display: inline-block;
  content: "";
  height: 1px;
  background: #e9e9e9;
  width: 100%;
  top: 50%;
  margin-bottom: 0.3em;
}
ul {
  padding-left: 1em;
}

hr {
  margin: 2em 0 1.5em 0;
}

.source svg {
  height: 0.75em;
  width: 0.75em;
}

.source {
  display: flex;
  align-items: baseline;
  flex-direction: column;
}

.settings__select {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

.settings__select:hover {
  cursor: pointer;
}

.not-found,
.error {
  margin-top: 5.4375em;
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  background: white;
  width: 11.4375em;
  height: 9.5em;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  padding: 1.5em 0;
  border-radius: 17px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  z-index: 1;
  top: calc(2em + 10px);
  left: calc(100% - 11.4375em - 110px);
}
/* Text Format */

a,
li span,
.word-class h2,
.main-word__text h1,
p {
  color: #2d2d2d;
}
.settings p {
  font-size: 0.875em;
  font-weight: 700;
  margin: 0;
}

.main-word__text h1 {
  font-size: 2em;
  margin: 0 0 0.25em 0;
}

main h2,
.main-word__text p {
  font-size: 1.125em;
}

.main-word__text p {
  font-weight: 400;
  color: #a445ed;
  margin: 0;
  font-family: inter;
}

.word-class {
  font-style: italic;
}

.meaning,
h3 {
  font-size: 1em;
}

.not-found h1,
.error h1 {
  font-size: 1.25em;
}

.meaning,
h3 {
  font-weight: 400;
}

.meaning {
  margin: 2em 0 1.0625em 0;
}

span,
.not-found h1,
.error h1 {
  font-weight: 700;
}

.synonyms > span:first-of-type {
  margin-left: 1.5em;
}

span {
  color: #a445ed;
}

.synonyms span:hover {
  text-decoration: underline;
  cursor: pointer;
}

li span,
.not-found p,
.error p {
  font-weight: 400;
  font-size: 0.9375em;
}

li span {
  margin: 0;
}

.not-found span,
.error span {
  margin-left: 0;
  font-size: 3.5em;
}
li {
  color: #8f19e8;
  padding-left: 0.5em;
  padding-bottom: 0.8125em;
}

.definition > li:last-child span,
h3,
.meaning,
main p,
.not-found p {
  color: #757575;
}

li > span:last-child {
  display: block;
  margin-top: 0.8125em;
}

.word-class h2 {
  font-family: inter;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.25em;
}

main p,
a {
  font-size: 0.875em;
}
main p {
  font-weight: 400;
  text-decoration: underline;
}

.main-word__text p {
  text-decoration: none;
}
.synonyms {
  margin-bottom: 2em;
}

a {
  margin-right: 0.642em;
}

.source p {
  margin-bottom: 0.571em;
}

.dropdown-menu p {
  margin: 0;
  font-size: 1.125em;
  font-weight: 700;
  width: 100%;
  padding: 0 1.5em;
}

.dropdown-menu p:hover {
  color: #a445ed;
  cursor: pointer;
}
.dropdown-menu__sans {
  font-family: inter;
}
.dropdown-menu__serif {
  font-family: lora;
}
.dropdown-menu__mono {
  font-family: inconsolata;
}

.error p,
.error h1 {
  color: #ff5252;
}

@media screen and (min-width: 450px) {
  body {
    padding: 3.625em 2.5em 7.375em 2.5em;
  }
  .logo {
    width: 2em;
  }

  .settings p {
    font-size: 1.125em;
  }

  nav {
    margin-bottom: 3.21875em;
  }

  form {
    height: 4em;
    margin-bottom: 2.6875em;
  }

  .search-bar input {
    padding-left: 1.2em;
    font-size: 1.25em;
  }

  .main-word__text h1 {
    font-size: 4em;
    margin: 0 0 0.125em 0;
  }

  main h2,
  .main-word__text p {
    font-size: 1.5em;
  }

  .main-word__play, .main-word__play--disabled {
    height: 4.6875em;
    width: 4.6875em;
  }

  .word-class h2:after {
    width: 88%;
  }
  .word-class h2 {
    font-size: 1.5em;
    margin-top: 1.66666666667em;
  }

  .meaning {
    margin: 2em 0 1.5em 0;
  }

  .meaning,
  h3 {
    font-size: 1.25em;
  }

  ul {
    padding-left: 2em;
  }

  li span,
  .not-found p,
  .error p {
    font-size: 1.125em;
  }

  .not-found span,
  .error span {
    font-size: 4em;
  }

  .not-found h1,
  .error h1 {
    font-size: 1.5em;
  }

  hr {
    margin: 2em 0 1.1875em 0;
  }
  .source {
    flex-direction: row;
  }

  a {
    margin-left: 1.429em;
  }

  .synonyms {
    margin-top: 1.35em;
  }
}

@media screen and (min-width: 769px) {
  main {
    width: 100vw;
    max-width: 736px;
  }

  body {
    display: flex;
    justify-content: center;
    padding: 3.625em 0 7.75em 0;
  }

  form {
    margin-bottom: 2.8125em;
  }
}


/* Loading */

.lds-spinner {
  color: #a445ed;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-spinner div {
  transform-origin: 40px 40px;
  animation: lds-spinner 1.2s linear infinite;
}
.lds-spinner div:after {
  content: " ";
  display: block;
  position: absolute;
  top: 3px;
  left: 37px;
  width: 6px;
  height: 18px;
  border-radius: 20%;
  background: #a445ed;
}
.lds-spinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.lds-spinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.lds-spinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.lds-spinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.lds-spinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.lds-spinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.lds-spinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.lds-spinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.lds-spinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.lds-spinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.lds-spinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.lds-spinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}